*.py[co]
.*.swp
py-builtins.js
tests/*/*.out
tests/*/*.diff
tests/*/*.err
tests/*/*.py.js
tests/*.err
tests/*.out
.d8_history

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

VERSION